{% extends "emailpal/really_simple/base.html" %}

{% block title %}Simple Transactional Email{% endblock %}

{% block preheader %}This is preheader text. Some clients will show this text as a preview.{% endblock %}

{% block content %}
<p>Hello,</p>
<p>This is a simple email which uses Lee Munroe's <em>Really Simple Responsive HTML Email Template</em> to be easily viewable across a wide range of mail clients.</p>

{% include "emailpal/really_simple/cta.html" with action="learn more about the template" url="https://github.com/leemunroe/responsive-html-email-template" %}

<p>Hopefully it will be useful.</p>
{% endblock %}
